@import "../../../../styles/variables.css";
@import "../../../../theme.css";

.todo {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.todo > div {
  margin-right: calc(var(--spacing) * 2);
}

.icon {
  color: var(--grey);
}

.icon.active {
  color: var(--accent);
}

.description {
  color: var(--grey);
  font-size: 1.6em;
}

.description.active {
  text-decoration: line-through;
  text-decoration-color: var(--accent);
}
