.contentContainer {
  margin-top: 2em;
  width: 100%;
}

@media (min-width: 600px) {
  .contentContainer {
    width: 75%;
  }
}

@media (min-width: 900px) {
  .contentContainer {
    width: 35%;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.inputContainer {
  margin: 3em 0 0 3em;
}

.todosContainer {
  margin-top: 1.5em;
}
